<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Recipes</title>
</head>
<body>
    {% for recipe in recipes %}
        <a href="{{ recipe.filename }}">{{ recipe.title }}</a><br />
    {% endfor %}
</body>
